@model Aklasa.Models.Transfer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transfer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTransferu" />
            <div class="form-group">
                <label asp-for="ZawodnikId" class="control-label"></label>
                <select asp-for="ZawodnikId" class="form-control" asp-items="ViewBag.ZawodnikId"></select>
                <span asp-validation-for="ZawodnikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DruzynaOdId" class="control-label"></label>
                <select asp-for="DruzynaOdId" class="form-control" asp-items="ViewBag.DruzynaOdId"></select>
                <span asp-validation-for="DruzynaOdId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DruzynaDoId" class="control-label"></label>
                <select asp-for="DruzynaDoId" class="form-control" asp-items="ViewBag.DruzynaDoId"></select>
                <span asp-validation-for="DruzynaDoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataTransferu" class="control-label"></label>
                <input asp-for="DataTransferu" class="form-control" />
                <span asp-validation-for="DataTransferu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
