@model Aklasa.Models.Druzyna

@{
    ViewData["Title"] = "Dodaj drużynę";
}

<h1>Dodaj drużynę</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NazwaKlubu" class="control-label"></label>
                <input asp-for="NazwaKlubu" class="form-control" />
                <span asp-validation-for="NazwaKlubu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
